table {
  border: 1px solid black;
  margin: 25px;
}

td {
  width: 25px;
  height: 25px;
}

tr {
  background: #7cf2bd;
}

.live-score {
  font-size: 34px;
  margin: 50px;
  text-align: center;
  color: #2e86de;
}

#score {
  font-size: 30px;
  font-weight: bold;
  color: #2e86de;
}

body {
  display: flex;
}

#score-board {
  width: 500px;
  text-align: center;
  margin: 20px;
}

.score__title {
  font-size: 28px;
  color: #2e86de;
  display: block;
  margin-bottom: 10px;
}

.score__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.score__list li {
  padding: 15px;
  background-color: #f7f7f7;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}